<!DOCTYPE html>

<html>
  <head>
    <title>Opendirectories</title>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-material.min.js"></script>
    <script src="js/angular-material-icons.min.js"></script>
    <script src="js/app.js"></script> 

    <link rel="stylesheet" type="text/css" href="css/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
  </head>
  <body ng-app="opendirectories" ng-controller="appController">

    <!-- main panel -->
    <md-content>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <!-- title -->
          <h2>
            Opendirectories
            <ng-md-icon ng-if="query" icon="chevron_right" size="14" style="fill: white"></ng-md-icon>
            {{query}}
          </h2>
          <!-- menu icon -->
          <span flex></span>
          <a ng-href="#" ng-click="show_menu()">
            <ng-md-icon icon="more_vert" style="fill: white"></ng-md-icon>
          </a>
        </div>
      </md-toolbar>
    </md-content>    

    <!-- menu panel -->
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">      
      <div ng-controller="menuController" >
        <!-- title -->
        <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">
            <span ng-if="!blacklist && !query_types"> 
              Menu
            </span>
            <span ng-if="blacklist"> 
              <a ng-href="#" ng-click="show_links()">
                <ng-md-icon icon="arrow_back" size="14" style="fill: white"></ng-md-icon> Blacklist URLs
              </a>
            </span>
            <span ng-if="query_types"> 
              <a ng-href="#" ng-click="show_links()">
                <ng-md-icon icon="arrow_back" size="14" style="fill: white"></ng-md-icon> Query Types
              </a>
            </span>
          </h1>
        </md-toolbar>

        <!-- menu content -->
        <md-content layout-padding>
          <!-- main menu items -->
          <div ng-if="!query_types && !blacklist">
            <md-list>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                  <md-button ng-click="show_blacklist()">Blacklist URLs</md-button>
                </div>
              </md-list-item>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                  <md-button ng-click="show_query_types()">Query Types</md-button>
                </div>
              </md-list-item>
            </md-list>
          </div>

          <!-- query types -->
          <div ng-if="query_types" ng-controller="queryTypesController">
            <!-- list -->
            <md-list>
              <md-list-item ng-repeat="query_type in query_types track by $index" layout="row">
                <a ng-href="#" ng-click="remove(query_type)" flex="10">
                  <ng-md-icon icon="delete" size="16"></ng-md-icon>
                </a>
                <span flex>{{query_type.name}} ({{query_type.exts}})</span>
              </md-list-item>
            </md-list>

            <!-- add -->
            <div layout="column">
              <div layout="row">
                <md-input-container flex="75">
                  <label>Name</label>
                  <md-input ng-model="name"></md-input>          
                </md-input-container>
              </div>
              <div layout="row">
                <md-input-container flex="75">
                  <label>Comma-separated extensions</label>
                  <md-input ng-model="exts"></md-input>          
                </md-input-container>
                <md-button ng-click="add()" flex="25">Add</md-button>  
              </div>
            </div>
          </div>

          <!-- blacklist -->
          <div ng-if="blacklist" ng-controller="blacklistController">
            <!-- list -->
            <md-list>
              <md-list-item ng-repeat="item in blacklist" layout="row">
                <a ng-href="#" ng-click="remove(item)" flex="10">
                  <ng-md-icon icon="delete" size="16"></ng-md-icon>
                </a>
                <span flex>{{item}}</span>
              </md-list-item>
            </md-list>

            <!-- add -->
            <div layout="row">
              <md-input-container flex="75">
                <label>Blacklist URL</label>
                <md-input ng-model="url"></md-input>          
              </md-input-container>
              <md-button ng-click="add()" flex="25">Add</md-button>  
            </div>
          </div>

          <!-- close menu -->
          <md-button ng-click="close()" class="close md-primary">Close</md-button>
        </md-content>
      </div>
    </md-sidenav>

    <!-- content panel -->
    <md-content class="content" layout="column">

      <!-- query + button -->
      <div layout="row">
        <md-input-container>
          <label>Query</label>
          <input type="text" ng-model="query" />
        </md-input-container>    
        <md-button ng-click="search()">
          <span ng-hide="small">Search</span>
        </md-button>
      </div>

      <!-- search types + options -->
      <div layout="row">
        <md-select ng-model="query_type" flex="20">
          <md-option ng-repeat="query_type in query_types track by $index" value="{{$index}}">{{query_type.name}}</md-option>
        </md-select>    
        <md-checkbox ng-model="alternative" aria-label="Alternative">
          Alternative Search Method
        </md-checkbox>
        <md-checkbox ng-model="quoted" aria-label="Quoted">
          Quoted
        </md-checkbox>
        <md-checkbox ng-model="incognito" aria-label="Incognito">
          Incognito
        </md-checkbox>
      </div>

      <!-- query itself -->
      <md-card ng-if="query" class="query">
        About to query:
        <small>{{build_query()}}</small>
      </md-card>  
    </md-content>

  </body>
</html>
