<!DOCTYPE html>

<html>
  <head>
    <title>Opendirectories</title>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-material.min.js"></script>
    <script src="js/angular-material-icons.min.js"></script>
    <script src="js/app.js"></script> 

    <link rel="stylesheet" type="text/css" href="css/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
  </head>
  <body ng-app="opendirectories" ng-controller="appController">

    <md-content>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>
            Opendirectories
            <ng-md-icon ng-if="query" icon="chevron_right" size="14" style="fill: white"></ng-md-icon>
            {{query}}
          </h2>
          <span flex></span>
          <a ng-href="#" ng-click="show_menu()">
            <ng-md-icon icon="more_vert" style="fill: white"></ng-md-icon>
          </a>
        </div>
      </md-toolbar>
    </md-content>    

    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Menu</h1>
      </md-toolbar>
      <md-content ng-controller="menuController" layout-padding>
        <h2>Blacklist</h2>
        <md-list>
          <md-list-item ng-repeat="item in blacklist" layout="row">
            <a ng-href="#" ng-click="remove(item)" flex="10">
              <ng-md-icon icon="delete" size="16"></ng-md-icon>
            </a>
            <span flex>{{item}}</span>
          </md-list-item>
        </md-list>

        <div layout="row">
          <md-input-container flex="75">
            <label>URL to add</label>
            <md-input ng-model="url"></md-input>          
          </md-input-container>
          <md-button ng-click="add()" flex="25">Add</md-button>  
        </div>

        <md-button ng-click="close()" class="md-primary">Close</md-button>
      </md-content>
    </md-sidenav>

    <md-content class="content" layout="column">
      <div layout="row">
        <md-input-container>
          <label>Query</label>
          <input type="text" ng-model="query" />
        </md-input-container>    
        <md-button ng-click="search()">
          <span ng-hide="small">Search</span>
        </md-button>
      </div>


      <div layout="row">
        <md-select ng-model="query_type" flex="20">
          <md-option ng-repeat="type in query_types" value="{{type}}">{{type}}</md-option>
        </md-select>    
        <md-checkbox ng-model="alternative" aria-label="Alternative">
          Alternative Search Method
        </md-checkbox>
        <md-checkbox ng-model="quoted" aria-label="Quoted">
          Quoted
        </md-checkbox>
      </div>

      <md-card ng-if="query" class="query">
        About to query:
        <small>{{build_query()}}</small>
      </md-card>  
    </md-content>

  </body>
</html>
