<!DOCTYPE html>

<html>
  <head>
    <title>OpenDL</title>
    <script src="js/jquery/jquery-1.11.3.min.js"></script>
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-cookie.min.js"></script>
    <script src="js/angular/ng-token-auth.min.js"></script>
    <script src="js/angular/angular-animate.min.js"></script>
    <script src="js/angular/angular-aria.min.js"></script>
    <script src="js/angular/angular-material.min.js"></script>
    <script src="js/angular/angular-material-icons.min.js"></script>
    <script src="js/moment-2.10.3.min.js"></script>

    <script src="build/dlapp.js"></script>     
    <script src="build/auth.js"></script>     
    
    <link rel="stylesheet" type="text/css" href="css/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
  </head>
  <body ng-app="opendl" ng-controller="appController">

    <!-- main panel -->
    <md-content>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <!-- title -->
          <h2>
            OpenDL
            <ng-md-icon ng-if="path" icon="chevron_right" size="14" style="fill: white"></ng-md-icon>
            {{path}}
          </h2>
          <!-- menu icon -->
          <span flex></span>
          <span ng-if="path == 'Downloads'">
            <a ng-href="#" ng-click="getDownloads()">
              <ng-md-icon icon="refresh" style="fill: white"></ng-md-icon>
            </a>
            <a ng-href="#" ng-click="newDownload()">
              <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
            </a>
            <a ng-href="#" ng-click="logOut()">
              <ng-md-icon icon="logout" style="fill: white"></ng-md-icon>
            </a>            
          </span>
        </div>
      </md-toolbar>
    </md-content>  
    

    <!-- content panel -->
    <md-content class="content" layout="column">
      <md-subheader>
        {{downloads.queued}} Queued - 
        {{downloads.busy}} Busy - 
        {{downloads.done}} Done - 
        {{downloads.error}} Error - 
        {{downloads.total}} Total
      </md-subheader>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="download in downloads.items" layout="row">
          <ng-md-icon icon="{{download.icon}}" title="{{download.status}}" class="pointer status-icon status-{{download.status}}" size="35" flex="10" ng-click="download.visible = !download.visible"></ng-md-icon>

          <div class="md-list-item-text" flex="85">
            <h3 class="url">
              {{ download.url }}
              <div ng-if="download.status == 'done' || download.status == 'queued'">
                <a ng-href="#" ng-click="deleteDownload(download)">
                  DELETE
                </a>
              </div>
            </h3>            
            <p class="times">
              <div ng-if="download.visible">
                <div ng-if="download.started_at">
                  Started at: {{ download.started_at | date : 'dd MMM yyyy H:mm'}}
                </div>
                <div ng-if="download.finished_at">
                  Finished at: {{ download.finished_at | date : 'dd MMM yyyy H:mm'}}
                </div>
                <div ng-if="download.error" class="error">
                  <h2>Error</h2>
                  <p>{{download.error}}</p>
                </div>
              </div>
            </p>
          </div>
        </md-list-item>
      </md-list>
      

    </md-content>

  </body>
</html>
