<!DOCTYPE html>

<html>
  <head>
    <title>OpenDL</title>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-material.min.js"></script>
    <script src="js/angular-material-icons.min.js"></script>
    <script src="js/moment-2.10.3.min.js"></script>
    <script src="js/app.js"></script>     
    

    <link rel="stylesheet" type="text/css" href="css/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
  </head>
  <body ng-app="opendl" ng-controller="appController">

    <!-- main panel -->
    <md-content>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <!-- title -->
          <h2>
            OpenDL
            <ng-md-icon ng-if="path" icon="chevron_right" size="14" style="fill: white"></ng-md-icon>
            {{path}}
          </h2>
          <!-- menu icon -->
          <span flex></span>
          <span ng-if="path == 'Downloads'">
            <a ng-href="#" ng-click="get_downloads()">
              <ng-md-icon icon="refresh" style="fill: white"></ng-md-icon>
            </a>
            <a ng-href="#" ng-click="new_download()">
              <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
            </a>
          </span>
          <a ng-href="#" ng-click="show_menu()">
            <ng-md-icon icon="more_vert" style="fill: white"></ng-md-icon>
          </a>
        </div>
      </md-toolbar>
    </md-content>    

    <!-- menu panel -->
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">      
      <div ng-controller="menuController" >
        <!-- title -->
        <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">
            <span ng-if="!blacklist && !query_types"> 
              Menu
            </span>            
          </h1>
        </md-toolbar>

        <!-- menu content -->
        <md-content layout-padding>          
          <div layout="column">
            <div layout="row">
              <md-input-container flex="65">
                <label>Server</label>
                <md-input ng-model="$parent.server"></md-input>          
              </md-input-container>

              <md-input-container flex="35">
                <label>Port</label>
                <md-input ng-model="$parent.port"></md-input>
              </md-input-container>
            </div>
            <div layout="row">
              <md-button ng-click="save()" class="close md-primary" flex="15">Save</md-button>
            </div>
          </div>
          <!-- close menu -->
          <md-button ng-click="close()" class="close md-primary">Close</md-button>
        </md-content>
      </div>
    </md-sidenav>

    <!-- content panel -->
    <md-content class="content" layout="column">

      <md-list>
        <md-list-item ng-repeat="download in downloads" style="width: 100%">
          <div layout="row" class="download" ng-click="download.visible = !download.visible">
            <span flex="5" ng-if="download.status == 'initial'" class="remove-download">
              <ng-md-icon icon="highlight_remove" size="14" flex="5" ng-click="delete_download(download)"></ng-md-icon>
            </span>
            <span flex="5" ng-if="download.status != 'initial'">&nbsp;</span>
            <ng-md-icon icon="{{status_to_icon(download)}}" size="14" flex="5"></ng-md-icon>
            <span flex="90">{{download.url}}</span>
          </div>
          <div layout="column" ng-if="download.visible">            
            <div layout="row">
              <span flex="10">&nbsp;</span>
              <span flex>started:  {{format_date(download.started_at)}}</span>
            </div>
            <div layout="row" ng-if="download.finished_at">
              <span flex="10">&nbsp;</span>
              <span flex>finished:  {{format_date(download.finished_at)}}</span>
            </div>
          </div>
        </md-list-item>
      </md-list>
      

    </md-content>

  </body>
</html>
