<!DOCTYPE html>

<html>
  <head>
    <title>Downloader</title>
    <script src="js/jquery/jquery-1.11.3.min.js"></script>
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-cookie.min.js"></script>
    <script src="js/angular/ng-token-auth.min.js"></script>
    <script src="js/angular/angular-animate.min.js"></script>
    <script src="js/angular/angular-aria.min.js"></script>
    <script src="js/angular/angular-material.min.js"></script>
    <script src="js/angular/angular-material-icons.min.js"></script>
    <script src="js/moment-2.10.3.min.js"></script>

    <script src="build/app.js"></script>
    <script src="build/auth.js"></script>
    <script src="build/downloads.js"></script>
    
    <link rel="stylesheet" type="text/css" href="css/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
  </head>
  <body ng-app="downloader" ng-controller="appController">

    <!-- main panel -->
    <md-content>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <!-- title -->
          <img src="app.png" style="height: 32px; padding-right: 5px;" />
          <div class="initials" ng-if="user" title="Logged in as {{user.email}}">{{user.initials}}</div>
          <h2>
            Downloader
            <small>
              ({{Server.service.toString()}})
            </small>
          </h2>
          <!-- menu icon -->
          <span flex></span>
          <span ng-if="user">
            <a ng-href="#" ng-click="getDownloads()">
              <ng-md-icon icon="refresh" style="fill: white"></ng-md-icon>
            </a>
            <a ng-href="#" ng-click="newDownload()">
              <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
            </a>
            <a ng-href="#" ng-click="logOut()">
              <ng-md-icon icon="logout" style="fill: white"></ng-md-icon>
            </a>
          </span>
        </div>
      </md-toolbar>
    </md-content>  
    

    <!-- content panel -->
    <md-content class="content" layout="column">
      <md-subheader>
        {{downloads.queued}} Queued - 
        {{downloads.started}} Started - 
        {{downloads.finished}} Finished - 
        {{downloads.error}} Error - 
        {{downloads.cancelled}} Cancelled - 
        {{downloads.total}} Total
      </md-subheader>
      <md-list>
        <md-list-item class="md-whiteframe-z1 md-3-line download" ng-repeat="download in downloads.items" layout="row">          
          <ng-md-icon icon="{{download.icon}}" 
                      title="{{download.status}}" 
                      class="status-icon status-{{download.status}}" 
                      ng-class="{pointer : download.hasPointer}" 
                      size="35" 
                      flex="10" 
                      ng-click="download.visible = !download.visible"></ng-md-icon>

          <div class="md-list-item-text" flex="85">
            <h3 class="url">
              {{ download.url }}
              <div layout="row">
                <md-button ng-if="download.canCancel" title="cancel" ng-click="cancelDownload(download)" aria-label="Cancel download"><ng-md-icon icon="cancel" style="fill: orange;"></ng-md-icon></md-button>
                <md-button ng-if="download.canQueue" title="queue" ng-click="queueDownload(download)" aria-label="Queue download"><ng-md-icon icon="queue" style="fill: green;"></ng-md-icon></md-button>
                <span flex></span>
                <md-button ng-if="download.canDelete" title="delete" ng-click="deleteDownload(download)" aria-label="Delete download"><ng-md-icon icon="delete" style="fill: red;"></ng-md-icon></md-button>
              </div>
            </h3>            
            <p class="times">
              <div ng-if="download.visible">
                <div ng-if="download.started_at">
                  Started at: {{ download.started_at | date : 'dd MMM yyyy H:mm'}}
                </div>
                <div ng-if="download.finished_at">
                  Finished at: {{ download.finished_at | date : 'dd MMM yyyy H:mm'}}
                </div>
                <div ng-if="download.error" class="error">
                  <h2>Error</h2>
                  <p>{{download.error}}</p>
                </div>
              </div>
            </p>
          </div>          
        </md-list-item>
      </md-list>
      

    </md-content>

  </body>
</html>
