<md-content class="md-padding new-query-type">
  <form name="form">
    <div layout="row">
      <md-input-container flex="50">
        <label>Name</label>
        <input type="text" ng-model="model.name" required />
      </md-input-container>
      <md-input-container flex="50">
        <label>Extensions</label>
        <input type="text" ng-model="model.exts" required />
      </md-input-container>
    </div>
    <div layout="row">
      <span flex></span>
      <md-button ng-click="visit('/settings/queryTypes')" aria-label="Cancel" title="Cancel">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="save()" aria-label="{{formLabel}}" title="{{formLabel}}">{{formLabel}}</md-button>
    </div>
  </form>
</md-content>