<md-content class="md-padding query-types">
  <md-list-item ng-repeat="item in queryTypes.default" class="noright">
    <p>{{item.name}} <small ng-if="item.exts.length > 0">({{item.exts}})</small></p>
  </md-list-item>
  <md-list-item ng-repeat="item in queryTypes.storage" class="noright">
    <p>{{item.name}} <small ng-if="item.exts.length > 0">({{item.exts}})</small></p>
    <md-button aria-label="Edit Query Type" title="Edit Query Type" class="md-icon-button" ng-click="edit($index)">
      <ng-md-icon icon="mode_edit" size="14"></ng-md-icon>
    </md-button>
    <md-button aria-label="Delete Query Type" title="Delete Query Type" class="md-icon-button" ng-click="delete($index)">
      <ng-md-icon icon="delete" size="14" style="fill: red;"></ng-md-icon>
    </md-button>
  </md-list-item>
</md-content>

<md-content layout="row" layout-align="end center" class="md-padding">
  <md-button class="md-primary md-raised" ng-click="visit('/settings/queryTypes/new')" aria-label="New Query Type" title="New Query Type">
    <ng-md-icon icon="add"></ng-md-icon>
    New
  </md-button>
</md-content>