<md-content class="md-padding query-types">
  <md-list>
    <md-list-item ng-repeat="item in queryTypes.default" class="md-padding-mini md-whiteframe-1dp query-types">
      <p>
        {{item.name}}
        <small ng-if="item.exts.length > 0">({{item.exts}})</small>
      </p>
    </md-list-item>
    <md-list-item ng-repeat="item in queryTypes.chrome" class="md-padding-mini md-whiteframe-1dp query-type">
      <p>
        {{item.name}}
        <small ng-if="item.exts.length > 0">({{item.exts}})</small>
      </p>
      <div>
        <md-button aria-label="Edit Query Type" class="md-icon-button md-mini" ng-click="edit($index)">
          <ng-md-icon icon="mode_edit" size="14"></ng-md-icon>
        </md-button>
        <md-button aria-label="Delete Query Type" class="md-icon-button md-mini" ng-click="delete($index)">
          <ng-md-icon icon="delete" size="14" style="fill: red;"></ng-md-icon>
        </md-button>
      </div>
    </md-list-item>
  </md-list>
</md-content>

<md-content layout="row" layout-align="end center">
  <md-button class="md-fab md-primary" ng-click="visit('/settings/queryTypes/new')">
    <ng-md-icon icon="add"></ng-md-icon>
  </md-button>
</md-content>