body { width: 500px; height: 350px; }

.pointer { cursor: pointer; }

.md-padding { padding-left: 16px; padding-right: 16px; }

.query { padding-top: 8px; }
.query md-input-container { margin: 0px; }

.options md-select { margin: 0px; }

.new-blacklist md-input-container { width: 100%; }

.saved-queries .saved-query { float: left; border-radius: 20px; padding-left: 16px; margin-top: 8px; margin-right: 8px; }