body { width: 500px; }

.md-padding { padding-left: 16px; padding-right: 16px; }
.md-padding-mini { padding-left: 8px; padding-right: 8px; }

.md-menu { padding: 0; }

.topbar button.settings svg { margin-top: 10px; }
md-checkbox span { position: relative; top: 16px; }

.blacklist { margin-bottom: 4px; }