<!DOCTYPE html>

<html>
  <head>
    <title>Downloader</title>
    <script src="../assets/javascripts/libs/jquery.js"></script>
    <script src="../assets/javascripts/libs/angular.js"></script>
    <script src="../assets/javascripts/libs/angular-cookie.js"></script>
    <script src="../assets/javascripts/libs/ng-token-auth.js"></script>
    <script src="../assets/javascripts/libs/angular-animate.js"></script>
    <script src="../assets/javascripts/libs/angular-aria.js"></script>
    <script src="../assets/javascripts/libs/angular-material.js"></script>
    <script src="../assets/javascripts/libs/angular-material-icons.js"></script>
    <script src="../assets/javascripts/libs/angular-sortable-view.js"></script>
    <script src="../assets/javascripts/libs/moment.js"></script>

    <script src="../assets/javascripts/app/app.js"></script>
    <script src="../assets/javascripts/app/constants.js"></script>
    <script src="../assets/javascripts/app/controllers.js"></script>
    <script src="../assets/javascripts/app/auth/controllers.js"></script>
    <script src="../assets/javascripts/app/server/factories.js"></script>
    <script src="../assets/javascripts/app/downloads/controllers.js"></script>
    
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/libs/angular-material.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/libs/angular-material-icons.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/app.css">
  </head>
  <body ng-app="downloader" ng-controller="AppController">

    <ng-include src="'topbar.html'"></ng-include>

    <ng-include src="'main-content.html'"></ng-include>    
    
  </body>
</html>
