<!DOCTYPE html>

<html>
  <head>
    <title>Downloader</title>
    <script src="../assets/javascripts/jquery/jquery-1.11.3.min.js"></script>
    <script src="../assets/javascripts/angular/angular.min.js"></script>
    <script src="../assets/javascripts/angular/angular-cookie.min.js"></script>
    <script src="../assets/javascripts/angular/ng-token-auth.min.js"></script>
    <script src="../assets/javascripts/angular/angular-animate.min.js"></script>
    <script src="../assets/javascripts/angular/angular-aria.min.js"></script>
    <script src="../assets/javascripts/angular/angular-material.min.js"></script>
    <script src="../assets/javascripts/angular/angular-material-icons.min.js"></script>
    <script src="../assets/javascripts/moment-2.10.3.min.js"></script>

    <script src="../assets/javascripts/build/app.js"></script>
    <script src="../assets/javascripts/build/app.constants.js"></script>
    <script src="../assets/javascripts/build/app.controllers.js"></script>
    <script src="../assets/javascripts/build/server.constants.js"></script>
    <script src="../assets/javascripts/build/server.factories.js"></script>
    <script src="../assets/javascripts/build/auth.controllers.js"></script>
    <script src="../assets/javascripts/build/downloads.controllers.js"></script>
    
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/app.css">
  </head>
  <body ng-app="downloader" ng-controller="appController">

    <ng-include src="'topbar.html'"></ng-include>

    <ng-include src="'main-content.html'"></ng-include>    
    
  </body>
</html>
