<!DOCTYPE html>

<html>
  <head>
    <script src="../assets/javascripts/libs/jquery.js"></script>
    <script src="../assets/javascripts/libs/angular.js"></script>
    <script src="../assets/javascripts/libs/angular-cookie.js"></script>
    <script src="../assets/javascripts/libs/ng-token-auth.js"></script>
    <script src="../assets/javascripts/libs/angular-animate.js"></script>
    <script src="../assets/javascripts/libs/angular-aria.js"></script>
    <script src="../assets/javascripts/libs/angular-material.js"></script>
    <script src="../assets/javascripts/libs/angular-material-icons.js"></script>
    <script src="../assets/javascripts/libs/angular-sortable-view.js"></script>
    <script src="../assets/javascripts/libs/moment.js"></script>


    <script src="../assets/javascripts/app/app.js"></script>
    <script src="../assets/javascripts/app/constants.js"></script>
    <script src="../assets/javascripts/app/controllers.js"></script>
    <script src="../assets/javascripts/app/auth/controllers.js"></script>
    <script src="../assets/javascripts/app/server/factories.js"></script>
    <script src="../assets/javascripts/app/downloads/controllers.js"></script>
    <script src="../assets/javascripts/app/events.js"></script>
  </head>
  <body ng-app="downloader" ng-controller="AppController">
  </body>
</html>
