<!DOCTYPE html>

<html>
  <head>
    <script src="../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../../node_modules/angular/angular.js"></script>
    <script src="../../node_modules/angular-cookie/angular-cookie.js"></script>
    <script src="../../node_modules/ng-token-auth/dist/ng-token-auth.js"></script>
    <script src="../../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../../node_modules/angular-material/angular-material.js"></script>
    <script src="../../node_modules/angular-material-icons/angular-material-icons.js"></script>
    <script src="../../node_modules/angular-sortable-view/src/angular-sortable-view.js"></script>
    <script src="../../node_modules/moment/moment.js"></script>

    <script src="../assets/javascripts/build/app.js"></script>
    <script src="../assets/javascripts/build/constants.js"></script>
    <script src="../assets/javascripts/build/controllers.js"></script>
    <script src="../assets/javascripts/build/auth/controllers.js"></script>
    <script src="../assets/javascripts/build/server/factories.js"></script>
    <script src="../assets/javascripts/build/downloads/controllers.js"></script>

    <script src="../assets/javascripts/build/events.js"></script>
  </head>
  <body ng-app="downloader" ng-controller="AppController">
  </body>
</html>
