<md-progress-linear md-mode="indeterminate" ng-if="!downloads"></md-progress-linear>
<md-content class="content" id="content" ng-if="downloads">
  <md-tabs md-selected="selectedIndex" md-stretch-tabs="always">
    <md-tab ng-repeat="tab in tabs">
      <md-tab-label>
        <ng-md-icon icon="{{tab.icon}}" class="tab {{tab.title}}"></ng-md-icon>
        {{tab.title}}
        <span class="number">{{downloads[tab.title].length}}</span>
      </md-tab-label>
      <md-tab-body>

        <md-list class="md-padding" sv-root sv-part="downloads[tabStatuses[selectedIndex]]" sv-on-sort="reorderDownloads()" ng-if="selectedIndex == 0">
          <ng-include src="'reorder-download-items.html'" onload="status = 'queued'"></ng-include>
        </md-list>

        <md-list class="md-padding" ng-if="selectedIndex == 1">
          <ng-include src="'download-items.html'" onload="status = 'started'"></ng-include>
        </md-list>

        <md-list class="md-padding" ng-if="selectedIndex == 2">
          <ng-include src="'download-items.html'" onload="status = 'finished'"></ng-include>
        </md-list>

        <md-list class="md-padding" ng-if="selectedIndex == 3">
          <ng-include src="'download-items.html'" onload="status = 'error'"></ng-include>
        </md-list>

        <md-list class="md-padding" ng-if="selectedIndex == 4">
          <ng-include src="'download-items.html'" onload="status = 'cancelled'"></ng-include>
        </md-list>

      </md-tab-body>
    </md-tab>
  </md-tabs>
</md-content>