<md-list-item ng-repeat="download in downloads[status]" sv-element class="md-3-line">
  <div sv-placeholder class="drop">
    Drop download here
  </div>

  <div class="md-avatar" layout="column">
    <md-button class="md-icon-button" sv-handle>
      <ng-md-icon icon="drag_handle"></ng-md-icon>
    </md-button>
    <md-button class="md-icon-button md-primary md-warn" aria-label="Cancel download" title="Cancel download" ng-if="download.canCancel" ng-click="cancelDownload(download)">
      <ng-md-icon icon="cancel">
    </md-button>
    <md-button class="md-icon-button md-primary" aria-label="Queue download" title="Queue download" ng-if="download.canQueue" ng-click="queueDownload(download)">
      <ng-md-icon icon="queue">
    </md-button>
    <md-button class="md-icon-button md-primary md-warn" aria-label="Delete download" title="Delete download" ng-if="download.canDelete" ng-click="deleteDownload(download)">
      <ng-md-icon icon="delete">
    </md-button>
  </div>

  <div class="md-list-item-text">
    <h3 ng-class="{pointer: selectedIndex != 0}" ng-click="download.visible = !download.visible">{{download.url}}</h3>
    <h4>Added by {{download.user.email}} on {{download.created_at | date: "EEEE, dd MMMM, hh:mm a"}}</h4>
    <p>
      <div ng-if="download.visible && (download.started_at || download.finished_at)">
        Started: {{ download.started_at | date : "EEEE, dd MMMM, hh:mm a"}}
        Finished: {{ download.finished_at | date : "EEEE, dd MMMM, hh:mm a"}}
      </div>
      <div ng-if="download.visible && download.error" class="error">
        <h2>Error</h2>
        <p>{{download.error}}</p>
      </div>              
    </p>
  </div>
</md-list-item>