<md-content>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <!-- title -->
      <img src="../assets/images/app.png" style="height: 32px; padding-right: 5px;" />
      <div class="initials" ng-if="user" title="Logged in as {{user.email}}">{{user.initials}}</div>
      <h2 title="{{Server.service.toString()}}">
        Downloader
      </h2>
      <!-- menu icon -->
      <span flex></span>
      <span ng-if="user">
        <a ng-href="#" ng-click="clearDownloads()">
          <ng-md-icon icon="clear_all" style="fill: white"></ng-md-icon>
        </a>
        <a ng-href="#" ng-click="getDownloads()">
          <ng-md-icon icon="refresh" style="fill: white"></ng-md-icon>
        </a>
        <a ng-href="#" ng-click="newDownload()">
          <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
        </a>
        <a ng-href="#" ng-click="logOut()">
          <ng-md-icon icon="logout" style="fill: white"></ng-md-icon>
        </a>
      </span>
    </div>
  </md-toolbar>
</md-content>