body { min-width: 500px; }

md-padding { padding: 16px; }
.pointer { cursor: pointer; }
.error { color: red; }

.initials {
  background-color: #1689C3;
  border-radius: 5px;
  padding: 7px;
  font-size: 9pt;
  margin-right: 5px;
  font-weight: bold;
}


.tab.initial { fill: rgb(190, 190, 21);}
.tab.queued { fill: orange;}
.tab.busy { fill: lightgreen;}
.tab.done { fill: darkgreen;}
.tab.error { fill: red; }
.number {
  font-size: 6pt;
  background: #589DCD;
  border: 1px solid #60808D;
  color: white;
  border-radius: 50%;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  position: relative;
  right: 12px;
  bottom: 16px;
}

md-list-item h3 { word-break: break-all; }
md-list-item .md-avatar button.md-fab { background: none !important; box-shadow: none !important; margin: 0px !important; }
md-list-item:not(:last-child) { padding-top: 16px; border-bottom: 1px solid #EAEEFF; }

#top { position: fixed; width: 100%; z-index: 2; }

#content { position: absolute; top: 64px; width: 100%; }
md-tabs { height: 500px; }


.md-dialog-container { height: 100% !important; }