html, body { min-width: 800px; min-height: 550px; }

.new-download { min-width: 60%; }
.new-download md-input-container,
.new-download md-switch,
.new-download md-select { padding: 0px; margin: 0px; }
.new-download .is-youtube { margin-bottom: 16px; }
.authenticate { min-width: 80%; }
.error { color: red; }
.pointer { cursor: pointer; }

.initials {
  background-color: #C31670;
  border-radius: 5px;
  padding: 7px;
  font-size: 9pt;
  margin-right: 5px;
  font-weight: bold;
}

.drop { border: 2px dashed lightblue; color: lightblue; padding: 4px; font-size: 125%; }

.drag-handle { cursor: move; }


.content { height: calc(100% - 48px); }
.content md-tabs { height: 100%; }