<!-- main panel -->
<md-dialog aria-label="New Download" class="new-download">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>New Download</h3>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content class="md-dialog-content">
      <ng-form name="forms.form">
        <div layout="column">
          <md-input-container flex>
            <label>URL</label>
            <input type="text" ng-model="model.url" ng-change="resetAndCheck()" debounce="500"></md>
          </md-input-container>
          <span class="error">{{error}}</span>
        </div>
        <div ng-if="isYoutube" class="is-youtube" layout="row">
          <md-switch ng-model="model.audio_only" aria-label="Audio Only" flex="35">
            Audio Only
          </md-switch>
          <md-input-container ng-if="model.audio_only" flex>
            <label>Audio Format</label>
            <md-select ng-model="model.audio_format" ng-if="model.audio_only">
              <md-option ng-repeat="format in audioFormats" ng-value="format" >{{format}}</md-option>
            </md-select>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>File Filter</label>
            <input ng-model="model.file_filter" />
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>HTTP Username</label>
            <input ng-model="model.http_username" />
          </md-input-container>
          <md-input-container flex>
            <label>HTTP Password</label>
            <input ng-model="model.http_password" />
          </md-input-container>
        </div>
        <div layout="row">
          <md-button ng-click="save()" ng-disabled="forms.form.$pristine" class="close md-primary" flex="35">Save</md-button>
          <span flex></span>
          <md-button ng-click="close()" class="close md-primary md-warn" flex="35">Close</md-button>
        </div>      
      </ng-form>
    </md-content>    
  </md-dialog-content>
</md-dialog>