<md-content class="md-padding new-blacklist">
  <form name="form">
    <md-input-container>
      <label>URL</label>
      <input type="text" ng-model="model.url" required />
    </md-input-container>
    <div layout="row">
      <span flex></span>
      <md-button ng-click="visit('/settings/blacklist')" aria-label="Cancel" title="Cancel">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="save()" aria-label="{{formLabel}}" title="{{formLabel}}">{{formLabel}}</md-button>
    </div>
  </form>
</md-content>