<md-content class="md-padding blacklist">
  <md-list-item ng-repeat="item in blacklist.default" class="noright">
    <p>{{item}}</p>
  </md-list-item>
  <md-list-item ng-repeat="item in blacklist.storage" class="noright">
    <p>{{item}}</p>
    <md-button aria-label="Edit Blacklist" title="Edit Blacklist" class="md-icon-button" ng-click="edit($index)">
      <ng-md-icon icon="mode_edit" size="14"></ng-md-icon>
    </md-button>
    <md-button aria-label="Delete Blacklist" title="Delete Blacklist" class="md-icon-button" ng-click="delete($index)">
      <ng-md-icon icon="delete" size="14" style="fill: red;"></ng-md-icon>
    </md-button>
  </md-list-item>
</md-content>

<md-content layout="row" layout-align="end center" class="md-padding">
  <md-button class="md-primary md-raised" ng-click="visit('/settings/blacklist/new')" aria-label="New Blacklist" title="New Blacklist">
    <ng-md-icon icon="add"></ng-md-icon>
    New
  </md-button>
</md-content>