<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="savedQueries">
  <md-toolbar class="md-theme-light" layout="row">
    <h1 class="md-toolbar-tools">Saved Queries</h1>
    <span flex></span>
    <md-button aria-label="Close" title="Close" class="md-icon-button" ng-click="closeSavedQueries()">
      <ng-md-icon icon="close" style="fill: white"></ng-md-icon>
    </md-button>
  </md-toolbar>
  <md-content ng-controller="SavedQueriesController" layout-padding class="saved-queries">
    <small>You have {{searchModel.model.savedQueries.length}} saved queries</small>
    <md-list-item ng-repeat="savedQuery in searchModel.model.savedQueries" ng-click="searchSavedQuery(savedQuery)" class="noright">
      <p>{{savedQuery.query}}</p>
      <md-button class="md-icon-button md-warn" ng-click="deleteSavedQuery($index); $event.preventDefault(); $event.stopPropagation();" aria-label="Delete Saved Query" title="Delete Saved Query"><ng-md-icon icon="delete"></ng-md-icon></md-button>
    </md-list-item>
  </md-content>
</md-sidenav>