<md-content>
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row">
      <h2>
        <md-button aria-label="Go Back" title="Go Back" class="md-icon-button" ng-if="Topbar.back" ng-click="visit(Topbar.back)">
          <ng-md-icon icon="arrow_back" style="fill: white"></ng-md-icon>
        </md-button>
        {{Topbar.title}}
      </h2>
      <span flex></span>
      <md-button aria-label="Saved Queries" title="Saved Queries" class="md-icon-button" ng-click="openSavedQueries()" ng-if="searchModel.model.savedQueries.length > 0">
        <ng-md-icon icon="save" style="fill: white;"></ng-md-icon>
      </md-button>
      <md-menu>
        <md-button aria-label="Settings" title="Settings" class="settings md-icon-button" ng-click="$mdOpenMenu($event)">
          <ng-md-icon icon="more_vert" style="fill: white;"></ng-md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button aria-label="Blacklist Settings" title="Blacklist Settings" ng-click="visit('/settings/blacklist')">
              Blacklist settings
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button aria-label="Query Type Settings" title="Query Type Settings" ng-click="visit('/settings/queryTypes')">
              Query Types settings
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
</md-content>